<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:ital,wght@0,300;1,200&display=swap');

      * {
        font-family: Prompt;
      }
      .material-icons {
        display: inline-flex;
        vertical-align: text-top;
      }
    </style> 
  </head>
  <body>
    
    <% if (session.token != undefined) { %>

    <div class="mb-4">
      <div class="h4 float-start">E-Commerce Back Office</div>
      <div class="float-end">
        User: <%= session.name %>
        <a class="btn btn-info" href="/changeProfile">
          <span class="material-symbols-outlined material-icons">
            settings
            </span>
            แก้ไขข้อมูล
        </a>
        <a class="btn btn-danger" href="/logout" onclick="return confirm('Are you sure?')">
          <span class="material-symbols-outlined material-icons">
            logout
            </span>
          Logout
        </a>
      </div>
      <div class="clearfix"></div>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
        <a class="navbar-brand" href="/home">
          <span class="material-symbols-outlined material-icons">
            home
            </span>
          Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <span class="material-symbols-outlined material-icons">
                  category
                  </span>
                ประเภทสินค้า</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-symbols-outlined material-icons">
                  storefront
                  </span>
                สินค้า</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-symbols-outlined material-icons">
                  shopping_cart
                  </span>
                ยอดสั่งซื้อ</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">
                <span class="material-symbols-outlined material-icons">
                settings_accessibility
                </span>
                ผู้ใช้งานระบบ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <% } %>